@CHARSET="UTF-8";

body{
	font-family:Arial, Sans-serif;
	padding:1% 5% 1% 5%;
	margin:0;	
}
.nav{	
	padding:10px 0 10px 0;
	max-width:100%;
	height:20px;
	margin:0 auto;
}
.container{
	clear:left;
	padding:10px 0 10px 0;
	max-width:100%;
	height:100%;
	margin: 0 auto;
}
#formLogin{
	max-width:270px;
	margin: 0 auto;	
}
#formLogout{	
	float:left;
	margin: 0;
}
#formPesquisar{	
	float:left;
	margin: 0;
	width:350px;
}
#formPesquisarCliente, #formPesquisarFornecedor{	
	float:left;
	margin: 0;
	width:450px;
}
#formCadastrar{
	max-width:270px;
	margin: 0;	
}
#formCadastrarCliente, #formAtualizarCliente, #formCadastrarFornecedor, #formAtualizarFornecedor{
	max-width:380px;
	margin: 0 0 10px 0;
}
#formAtualizar{
	max-width:375px;
	margin: 0;	
}
#formExcluir{
	max-width:270px;
	margin: 0;
}
#olaUser{
	float:left;
	width:260px;
	margin: 0;
}
.btnRight{
	clear:left;
	float:right;
	margin-right:5px;
}
input[type=submit]{
	width:74px;
}
.divSimNao{
	clear:both;
	width:100%;
	text-align:center;
	border:0;
	margin:0;
	padding:0 0 0 0;
}
#tipoFornecedor1{
	display:block;
	float:left;
	padding: 0 0 0 0;
	margin: 2px 5px 3px 0;
}
#tipoFornecedor2{
	display:block;
	clear:left;
	float:left;
	padding: 0 0 0 0;
	margin: 2px 5px 3px 0;
}
input[type=text], input[type=password]{
	float:left;
	width:170px;
	height:17px;
	margin-right:5px;
	border:1px solid;
	padding: 1px 1px 1px 1px;	
}
#endereco, #empresa{
	float:left;
	width:270px;
	height:17px;
	margin-right:5px;
	border:1px solid;
	padding: 1px 1px 1px 1px;
}
#endereco:disabled, #empresa:disabled{
	float:left;
	width:270px;
	height:17px;
	margin-right:5px;
	border:none;
	padding: 2px 1px 1px 1px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-size:16px;
}
input:disabled{
	float:left;
	width:170px;
	height:17px;
	margin-right:5px;
	border:none;
	padding: 2px 1px 1px 1px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-size:16px;
}
select{
	float:left;
	width:174px;
	height:21px;
	margin-right:5px;
	border:1px solid;
	padding: 1px 1px 1px 1px;
}
option{
	padding:0;
}
br, p{
	clear:left;
}
span{
	display:block;
	float:left;	
}
.spanAsterisco{
	font-size:14px;
	margin-bottom:10px;
}
.msg{
	max-width:300px;
	margin:0 auto;
	text-align:center;
}
fieldset{
	border:1px solid #000;
	padding-top:10px;
	margin:0 0 10px 0;
}
#fielExcluir{	
	border:1px solid #000;
	padding:10px 5px 0 5px;
	margin:0;
}
label{
	clear:left;
	float:left;
	font-size:14px;
	width:60px;
	text-align:right;
	padding-top:2px;
	padding-right:5px;
	padding-bottom:12px;
	margin: 0;
}
.lblRight{
	clear:none;
	font-size:12px;
	width:101px;
	text-align:left;
	padding: 0 0 0 0;
	margin: 0;
}
.lblLinha{
	clear:both;
	font-size:14px;
	font-weight:bold;
	width:100%;
	text-align:center;
	padding: 5px 0 10px 0;
	margin: 0;
}
.lblRadio{
	display:block;
	clear:right;
	float:left;	
	font-size:14px;
	width:60px;
	text-align:left;
	padding: 0 0 3px 0;
	margin: 0 0 2px 0;
}
li{
	list-style-type:none;
}
.box-radio{
	float:left;
	max-width:200px;
	margin:0 auto;
	padding:2px 5px 12px 0;
}
.box-1-3{
	clear:left;
	float:left;
	max-width:504px;
	margin:0 auto;
	padding:0;
}
.box-1-8{
	clear:left;
	float:left;
	max-width:1400px;
	margin:0 auto;
	padding:0;
}
.col-05{
	float:left;
	width:50px;
	margin: 0;
	padding:3px 3px 3px 3px;
	font-size:14px;
	border-style:solid;
	border-width:1px;
	border-color:white;	
}
.col-05-title{
	float:left;
	width:50px;
	margin: 0;
	padding:5px 3px 5px 3px;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	border-top-style:solid;
	border-bottom-style:solid;
	border-width:1px 0 1px 0;
}
.col-0{
	float:left;
	width:100px;
	margin: 0;
	padding:3px 3px 3px 3px;
	font-size:14px;
	border-style:solid;
	border-width:1px;
	border-color:white;	
}
.col-0-title{
	float:left;
	width:100px;
	margin: 0;
	padding:5px 3px 5px 3px;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	border-top-style:solid;
	border-bottom-style:solid;
	border-width:1px 0 1px 0;
}
.col-1{
	float:left;
	width:160px;
	margin: 0;
	padding:3px 3px 3px 3px;
	font-size:14px;
	border-style:solid;
	border-width:1px;
	border-color:white;	
}
.col-1-title{
	float:left;
	width:160px;
	margin: 0;
	padding:5px 3px 5px 3px;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	border-top-style:solid;
	border-bottom-style:solid;
	border-width:1px 0 1px 0;
}
.col-2{
	float:left;
	width:270px;
	margin: 0;
	padding:3px 3px 3px 3px;
	font-size:14px;
	border-style:solid;
	border-width:1px;
	border-color:white;	
}
.col-2-title{
	float:left;
	width:270px;
	margin: 0;
	padding:5px 3px 5px 3px;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	border-top-style:solid;
	border-bottom-style:solid;
	border-width:1px 0 1px 0;
}